@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}
.my-popup-class {
  @apply bg-neon-grey bg-opacity-80  text-white font-exo ;
}
.my-confirm-button-class {
  @apply bg-neon-pink text-white;
}
.my-modal {
  
  background: adial-gradient(circle, var(--neon-orange), var(--neon-blueberry), var(--neon-water));

  
}


body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@font-face {
  font-family: 'burtons';
  src: url('../public/Burtons.otf');
}

@font-face {
  font-family: 'bogart_regular';
  src: url('../public/fonts/bogart/Bogart-Medium-trial.ttf');
}
@font-face {
  font-family: 'mont_regular';
  src: url('../public/fonts/mont_full/Mont-Regular.otf');
}
@font-face {
  font-family: 'exo';
  src: url('../public/fonts/exo/Exo2-VariableFont_wght.ttf');
}
@font-face {
  font-family: 'roboto-medium';
  src: url('../public/fonts/Roboto/Roboto-Medium.ttf');
}
@font-face {
  font-family: 'roboto-light';
  src: url('../public/fonts/Roboto/Roboto-Light.ttf');
}
@font-face {
  font-family: 'interdisplay-regular';
  src: url('../public/fonts/inter_display/InterDisplay-Medium.ttf');
}
@font-face {
  font-family: 'interdisplay-light';
  src: url('../public/fonts/inter_display/InterDisplay-Light.ttf');
}
@font-face {
  font-family: 'interdisplay-extralight';
  src: url('../public/fonts/inter_display/InterDisplay-ExtraLight.ttf');
}

.custom-input {
  @apply 
  rounded-none border-b border-green-100 focus:border-green-400 w-full py-5 md:py-2 mb-10 bg-black focus:outline-none font-interDisplayLight placeholder:font-interDisplayLight placeholder:text-gray-700 placeholder:text-sm ;
}

.custom-input:focus::placeholder {
  @apply text-transparent transition-opacity duration-300 ease-in-out  ;
}
.custom-textarea {
  @apply 
  rounded-none resize-none border-b focus:border-green-400  w-full py-2 mb-5 bg-black  focus:outline-none font-interDisplayLight placeholder:font-interDisplayLight placeholder:text-gray-700 placeholder:text-sm;
}





textarea:focus::placeholder {
  @apply text-transparent;
}

/* Estilo para todos los labels */
label {
  @apply block text-slate-100 pb-0 text-sm md:text-xs font-interDisplayLight;
}

/* Estilo para el contenedor del label y el input */
.input-container {
  @apply relative;
}

/* Estilo para los labels cuando el input dentro del contenedor está en foco */
.input-container:focus-within label {
  @apply text-green-300 text-sm md:text-xs font-interDisplayLight;
}

